.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.Label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	border: 1px solid #ccc;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 90%;
	margin: 0 auto;
	box-sizing: border-box;
	font-weight: normal;
}

.InputElement:focus {
	outline: none;
	background-color: #ccc;
}

.Invalid {
	border: 1px solid red;
	background-color: rgb(235, 210, 207);
}

.ErrorMsg {
	font-weight: normal;
	text-align: end;
	font-size: 1rem;
	margin: 0 auto;
	font-style: italic;
	width: 90%;
	box-sizing: border-box;
}
