.button{
    padding: 8px;
    border: 1px solid cornflowerblue;
    border-radius: 1px 1px;
    background-color: salmon;
    color: crimson;
}

.button:hover{
    background-color: crimson;
    color: salmon;
}

.button.red{
    background-color: aqua;
    color: black;
}

.button.red:hover{
    background-color: black;
    color: aqua;
}


.pink {
    color : pink;
}

.pink.black{
    background-color: black;
}