body {
	margin: 20px auto;
	padding: 0;
	background-color: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
	height: 150px;
}
